@inherits LayoutComponentBase

<PageTitle>Dev Control Plane</PageTitle>

<div class="page-header">
     <div class="top-row justify-content-evenly">
            <div class="col-3"><h4><svg class="mxr-10 icon favicon"></svg>&nbsp;Dev Control Plane</h4></div>
            <div  class="col-6">
                <div class="input-group rounded">
  <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
</div>
            </div>
            <div  class="col-3"><a href="https://docs.microsoft.com/aspnet/" class="float-end" target="_blank">About</a></div>
        </div>
</div>
<div class="page">
        <NavMenu />
    
        <article class="content">
            @Body
        </article>
    
</div>
