@page "/Chatbot"


  <div class="container" style="height: 100%;">

    <div class="row-0 justify-content-center" style="height: 100%;">
      <div class="col-0" style="height: 100%;">

        <div class="card" style="height: 90%;">
          <div class="card-body" data-mdb-perfect-scrollbar="true" style="overflow-y:scroll; position: relative;">
            @foreach(var msg in message)
            {
                if(msg.Key.Equals("bot"))
                {
            <div class="d-flex justify-content-between">
              <p class="small mb-1 text-muted">23 Jan 2:05 pm</p>
              <p class="small mb-1">Johny Bullock</p>
            </div>
            <div class="d-flex flex-row justify-content-end mb-4 pt-1">
              <div>
                <p class="small p-2 me-3 mb-3 text-white rounded-3 bg-warning">@msg.Value</p>
              </div>
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava6-bg.webp"
                alt="avatar 1" style="width: 45px; height: 100%;">
            </div>

                }
                else
                {
<div class="d-flex justify-content-between">
              <p class="small mb-1">Timona Siera</p>
              <p class="small mb-1 text-muted">23 Jan 2:00 pm</p>
            </div>
            <div class="d-flex flex-row justify-content-start">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava5-bg.webp"
                alt="avatar 1" style="width: 45px; height: 100%;">
              <div>
                <p class="small p-2 ms-3 mb-3 rounded-3" style="background-color: #f5f6f7;">@msg.Value</p>
              </div>
            </div>
                }

            }
            

           
            

          </div>
          <div class="card-footer text-muted d-flex justify-content-start align-items-center p-3">
            <div class="input-group mb-0">
              <input type="text" class="form-control" placeholder="Type message"
                aria-label="Recipient's username" aria-describedby="button-addon2" @bind="usrmessage"/>
              <button class="btn btn-warning" type="button" id="button-addon2" style="padding-top: .55rem;" @onclick="Ask">
                Ask
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>


@code{
    public List<KeyValuePair<string,string>> message = new List<KeyValuePair<string,string>>();
    string usrmessage="";
    async Task Ask()
    {
        if(!usrmessage.Equals(""))
        {
            message.Add(new KeyValuePair<string,string>("user",usrmessage));
            message.Add(new KeyValuePair<string,string>("bot","My brain is over heated"));
            usrmessage="";
        }
    }
}