@page "/counter"

<PageTitle>Component 1</PageTitle>

<h3>Future</h3>



@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
