@page "/fetchdata"
@using dcp.Data
@inject WeatherForecastService ForecastService

<PageTitle>Component2</PageTitle>

<h3>nothing here</h3>

@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateOnly.FromDateTime(DateTime.Now));
    }
}
